<div class="flex-centered">
  <h1><%=@issue.name%></h1>
</div>
<div class="opinion-container">
  <h3 class="flex-centered"><%= @citation.full_citation %></h3>
  <p><%= @citation.formatted_text %></p>
</div>

