<% if user %>
  <% if user.following?(issue) %>
    <form class="inline" action="/issues/<%=issue.id%>/unfollow" method="post"><button type="submit">unfollow</button></form>
  <% else %>
    <form class="inline" action="/issues/<%=issue.id%>/follow" method="post"><button type="submit">follow</button></form>
  <% end %>
<% else %>
  >
<% end %>



