<form id="issue-form" action='/issues' method='post' class="white-background">
  <label>Enter short name for new issue:</label>
  <input type="text" name="name">
  <button type="submit">Submit</button>
</form>
