<form class="flex-centered" id="issue-form" action='/issues' method='post'>
  <div>
    <label>Enter short name for new issue:</label>
  </div>
  <div>
    <input type="text" name="name">
    <input class="small-button" type="submit" value="Submit">
  </div>
</form>
