<form id="issue-form" action='/issues' method='post' class="flex-centered">
  <label>Enter short name for new issue:</label>
  <div>
    <input type="text" name="name">
    <input class="small-button" type="submit" value="Submit">
  </div>
</form>
