<div class="flex-centered">
  <h1>Issues</h1>
</div>
<div class="flex-centered">
  <ul class="button-list">
    <% Issue.all.each do |cur_issue| %>
      <li class="inline-block">
        <%= erb :'/issues/_follow', layout: false, locals: { user: current_user, issue: cur_issue } %>
      </li>
    <% end %>
    <% if current_user %>
      <li class="inline-block">
        <form class="flex" action="/issues/new">
          <button class="big-button yellow" type="submit">+ Add New Issue</button>
        </form>
      </li>
    <% end %>
  </ul>
</div>

