body {

}

header {
	/*background-color: white;*/
	padding: 20px;
}

.court-background {
	background: black url("/images/court-background.jpg") no-repeat center center fixed;
	background-size: 100%, 100%;
	font-family: serif;
	color: white;
}

.alert {
	color: green;
	padding: 10px;
}

.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.flex-centered {
	margin: auto;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
/*	border-width: 2px;
	border-style: solid;
	border-color: black;*/
}

.white-background {
	margin: auto;
	width: 50%;
	background-color: white;
	color: black;
	padding: 1em;
}

.justices-container {
	/*width: 800px;*/
	height: 200px;
	padding: 5px;

}

.justice-image {
	box-shadow: 2px 2px 5px black;
	height: auto;
	width: 100px;
	margin: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	/*display: inline-block;*/
	/*vertical-align: middle;*/
}

.justice-name {
	text-align: center;
	display: none;
}

.login-form {
	display: inline-block;
	float: right;
}

input {
	margin-top: 3px;
	margin-bottom: 3px;
}

.num-input {
	width: 3em;
}

.errors {
	color: red;
}

.unmarked-list {
	list-style-type: none;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

