      <li>

        <form class="inline" action="/cases/<%=cur_case.id%>" method="get">
          <button class="big-button light-blue" type="submit"><%=cur_case.name%>
          </button>
        </form>
        <form class="inline" action="/issues/<%=@issue.id%>/cases/<%=cur_case.id%>" method="post">
          <button class="tall-button light-blue" type="submit">&rarr;
          </button>
        </form>
      </li>
