<div class="opinion-container">
  <div class="flex-centered">
      <h1><%= @case.name %></h1>
  </div>
  <div class="flex-centered">
      <p><%= @case.full_citation %></p>
  </div>
  <div>
    <%= @case.full_text %>
  </div>
</div>

