<div class="flex-centered">
    <h1><%= @case.name %></h1>
</div>
<div class="flex-centered">
    <p><%= @case.full_citation %></p>
</div>
<div class="inline-box">
  <h2>Recent citations</h2>
  <% c = @case.recent_citations %>
  <%= c.full_citation %>

</div>
