<div class="flex-centered">
  <h1>Cases</h1>
</div>
<div class="white-background flex-centered">
  <ul>
    <% Case.all.each do |cur_case| %>
      <li><%=cur_case.full_citation%></li>
    <% end %>
  </ul>
</div>
<%= pp @court_listener.opinion_text_by_url( "https://www.courtlistener.com/api/rest/v3/opinions/247162/" ) %>

