<div class="flex-centered">
  <h1>Cases</h1>
</div>
<div class="white-background flex-centered">
  <ul>
    <% Case.all.each do |cur_case| %>
      <li><%=cur_case.full_citation%></li>
    <% end %>
  </ul>
</div>
<%= @court_listener.person_by_name('David', 'Souter') %>

