
<div class="flex-centered">
	<h1>Placeholder</h1>
</div>
<div class="justices-container flex-centered">
		<div>
			<img class="justice-image" src="/images/Blank.jpg">
			<div class="justice-name">Issues</div>
		</div>
		<div>
			<img class="justice-image" src="/images/law-book.jpg">
			<div class="justice-name">Cases</div>
		</div>
		<div>
			<a href="/justices">
				<img class="justice-image" src="/images/JRoberts.jpg">
				<div class="justice-name">Justices</div>
			</a>
		</div>
</div>
<div class="flex-centered" id="justice-name">
</div>